.showcase {
  margin: auto;
  padding: 0px;
  border-top: 1px solid #30363d;
  border-bottom: 1px solid #30363d;
  width: 704px;
  height: 396px;
  overflow: hidden;
  display: grid;
  gap: 0px;
}
.showcaseMenu {
  margin: 0px;
  padding: 0px;
  width: 304px;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.showcaseMenuEntry {
  margin: 0px;
  border-top: 1px solid #30363d;
  border-bottom: 1px solid #30363d;
}
.showcaseMenuEntry:hover {
  background-color: rgba(33,38,45,0.5);
}
.showcaseContent {
  margin: 0px;
  padding: 0px;
  width: 400px;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.showcaseContent > iframe {
  margin: 0px;
  padding: 0px;
  border: none;
  width: 100%;
  height: 100%;
}
